.random-list {
    list-style: none;
    font-size: 18px;
}
.random-list li {
    display: flex;
    align-items: center;
}
.random-list li:before{
    content: '';
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2f/PowerShell_5.0_icon.png);
    background-size: contain;
}
.random-list li a {
    display: inline-block;
    margin-left: 5px;
}